#contact_modal {
    display: none;
}

/**
  Banner
  */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem 3rem;
}

.banner .description {
  min-width: 33%;
}

.banner .description h1 {
  font-size: 4em;
  margin-right: 0;
  margin-bottom: .875rem;
  color: #D3573C;
}

.banner .description h2 {
  font-size: 1.5em;
}

.banner .description p {
  font-size: 1.125em;
  color: #525252;
}

.banner .img-container {
  margin: 0 0 0 auto;
}

.contact_button {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
    margin: 0 auto;
    padding: 1.5rem .75rem;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/**
  End Banner
  */

/**
  Media
  */
.media_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  margin: 1.5rem 6.25rem;
  padding: 5rem 0;
}

.media {
  width: 350px;
  height: 350px;
  border-radius: 8px;
}

.media img,
.media video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
}

.media img {
  object-fit: cover;
}

.media > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media h3 {
  font-size: 1.35em;
  font-weight: 400;
  max-width: 80%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #901C1C;
}

.media .counter {
  font-size: 1.2em;
  color: #901C1C;
}

.counter  {
  font-weight: 600;
}

.media .fa-heart {
  font-size: 1.15em;
  margin-left: .35rem;
  color: #901C1C;
}
/**
  End Media
  */

/**
  Photograph widget
  */
.photograph-widget > div {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 325px;
  bottom: 0;
  width: 375px;
  align-items: center;
  background-color: hsl(11,63%,70%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1.25rem 1.5rem;  
}

.photograph-widget .counter,
.photograph-widget .fa-heart,
.photograph-widget p {
  font-size: 1.25em;
}

.photograph-widget .fa-heart {
  margin-left: .5rem;
  color: #000;
}

.photograph-widget p {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

/**
  End Photograph widget
  */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}