/**
  Banner
  */
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem 3rem;
}

.banner .description {
  min-width: 33%;
}

.banner .description h1 {
  font-size: 4em;
  margin-right: 0;
  margin-bottom: .875rem;
  color: #D3573C;
}

.banner .description h2 {
  font-size: 1.5em;
}

.banner .description p {
  font-size: 1.125em;
  color: #525252;
}

.banner .img-container {
  margin: 0 0 0 auto;
}
/**
  End Banner
  */

/**
  Button
  */
.contact_button {
  font-size: 1.25em;
  font-weight: bold;
  width: 170px;
  height: 70px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1.5rem .75rem;
  cursor: pointer;
  transition: .3s;
  background-color: #901C1C;
  color: #ffffff;
}

.contact_button:hover,
.contact_button:focus {
  background-color: hsl(11,63%,70%);
}

.modal .contact_button {
  margin-left: 0;
}
/**
  End Button
  */

/**
  Media
  */
.media_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  margin: 1.5rem 6.25rem;
  padding: 5rem 0;
}

.media {
  width: 350px;
  height: 350px;
  border-radius: 5px;
}

.media a {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.media img,
.media video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
}

.media img {
  object-fit: cover;
}

.media > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media h3 {
  font-size: 1.35em;
  font-weight: 400;
  max-width: 80%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #901C1C;
}

.media .counter {
  font-size: 1.2em;
  color: #901C1C;
}

.counter  {
  font-weight: 600;
}

.media .fa-heart {
  font-size: 1.15em;
  margin-left: .35rem;
  cursor: pointer;
  color: #901C1C;
}
/**
  End Media
  */

/**
  Photograph widget
  */
.photograph-widget > div {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 325px;
  bottom: 0;
  width: 375px;
  align-items: center;
  background-color: hsl(11,63%,70%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.25rem 1.5rem;  
}

.photograph-widget .counter,
.photograph-widget .fa-heart,
.photograph-widget p {
  font-size: 1.25em;
}

.photograph-widget .fa-heart {
  margin-left: .5rem;
  color: #000;
}

.photograph-widget p {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

/**
  End Photograph widget
  */

/**
  Modal Form
  */
#contact_modal,
#lightbox_modal {
  display: none;
  padding: 2rem 0;
}

#contact_modal {
  overflow-y: auto;
}

#lightbox_modal {
  overflow: hidden;
}


.visible_modal body > header,
.visible_modal body > main {
  overflow-y: hidden;
}

.visible_modal #contact_modal,
.visible_modal #lightbox_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#contact_modal {
  background-color: rgba(255, 255, 255, .5);
}

#contact_modal .modal {
  width: 35%;
  background-color: #DB8876;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: auto;
  padding: 1.5rem 2.2rem;
}

#contact_modal header {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#contact_modal header h2 {
  font-size: 4em;
  line-height: 1.1;
  font-weight: normal;
  text-align: left;
  max-width: 500px;
  margin: 0;
}

/* All closing modal */
.close-slideShow svg,
.close_modal {
  margin-top: .5rem;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  font-size: 36px;
  color: #312E2E;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}

form input {
  height: 68px;
}

form input[type="text"],
form input[type="email"],
textarea {
  font-size: 1.35em;
}

form input[data-error-visible="true"],
form textarea[data-error-visible="true"] {
  border: 2px solid #901C1C;
  background: hsl(0deg 67% 95%);
}

form p {
  display: none;
  font-size: .975em;
  font-weight: 600;
  color: #901C1C;
}
/**
  End Modal Form
  */

/**
  Lightbox Form
  */
/* body */
.lightbox.visible_modal {
  overflow: hidden;
}

#lightbox_modal {
  background-color: #ffffff;
}

#lightbox_modal .modal {
  position: relative;
  width: 50%;
  padding: 0;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 5rem);
}

.close-slideShow {
  position: absolute;
  top: 7px;
  right: -60px;
}

.media_slideshow {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
}

.slide,
.slide a {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 5rem);
}

.slide a {
  display: block;
  overflow: auto;
}

.slide img,
.slide video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.slide img {
  object-fit: cover;
}

.slide p {
  font-size: 24px;
  margin-top: 0.35rem;
  color: #901C1C;
}

/* Previous and next controls button*/
.previous-btn,
.next-btn {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border: none;
  padding: 0;
  background: none;
}

.previous-btn {
  transform: translate(-50px, -50px);
}

.next-btn {
  right: -100px;
  transform: translate(-50px, -50px);
}

.previous-btn span,
.next-btn span {
  display: block;
  width: 2rem;
  height: .375rem;
  cursor: pointer;
  background-color: #901C1C;
}

.previous-btn span:first-child {
  transform: rotate(-45deg) translate(0, -8px);
}

.previous-btn span:last-child {
  transform: rotate(45deg) translate(1px, 9px);
}

.next-btn span:first-child {
  transform: rotate(45deg) translate(0, -8px);
}

.next-btn span:last-child {
  transform: rotate(-45deg) translate(-1px, 9px);
}
/* Previous and next controls button*/

/**
  End Lightbox Form
  */